{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/workshopwebsite.css' %}">
</head>

<body>
    <a class="btn btn-primary" href="add_client" role="button" class="add_client">Add client</a>
    <P></P>
    <a class="btn btn-primary" href="add_car" role="button" class="add_car">Add car</a>
    <P></P>
    <a class="btn btn-primary" href="check_button" role="button" class="check_button">Check your order</a>
    <P></P>
    <a class="btn btn-primary" href="add_order" role="button" class="add_order">Add order</a>
    <P></P>
    <a class="btn btn-primary" href="choose_mechanic" role="button" class="choose_mechanic">Choose mechanic</a>
    <P></P>
    <a class="btn btn-primary" href="choose_finishing_date" role="button" class="choose_finishing_date">Choose finishing
        date</a>
    <P></P>
    <a class="btn btn-primary" href="order_list" role="button" class="order_list">Order list</a>
    <P></P>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>